.hero {
  width: 100%;
  height: 100% !important;
}

.hero-title {
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-title h1 {
  color: var(--dark);
  font-size: 80px;
}

.hero-title p {
  color: var(--lightDark);
  font-size: 20px;
}

.hero-img {
  height: 100%;
}
