@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.logo {
  font-family: lobster, arial;
  font-size: 45px;
  text-decoration: none;
  color: #383838;
}

.logo:hover {
  color: #383838;
}

.nav-item {
  text-decoration: none;
  color: #0f0f0f;
  display: block;
}

.nav-item:hover {
  color: #FF6060;
}

.dropdown {
  position: relative;
  display: inline-block;
}

NavLink {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}